@import "src/app/dsp-ui-lib/style/responsive";
@import "src/assets/style/main";

menu {
  list-style: none;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .previousBtn {
    margin-inline-start: 0!important;
  }
}

aside {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  position: fixed;
  height: 100%;
  width: $sidenav-width;

  ul {
    padding-inline-start: 25px;
  }

  .pages {
    li {
      list-style: none;
    }
  }
}

main {
  margin-inline-start: calc(2rem + $sidenav-width);
  margin-inline-end: 2rem;
  padding: 0 1rem;

  .transcription-btn {
    display: flex;
    justify-content: center;

    mat-card {
      max-width: 40rem;
      flex: 1;
    }
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
    background-color: white;

    caption {
      padding-block-start: 0.5rem;
      caption-side: bottom;
      font-style: italic;
      font-size: small;
    }

    thead {
      background-color: rgb(200, 200, 200);
      color: #363636;
    }

    tr:nth-child(odd) td{
      background: rgb(232, 232, 232);
    }

    th, td {
      padding: 0.5rem 1rem;
      border: 1px solid white;
    }
  }
}

@media(max-width: map-get($grid-breakpoints, notebook)) {
  aside {
    position: static;
    width: auto;
    height: auto;
  }

  main {
    margin-inline-start: 2rem;
    padding: 0;

    mat-card {
      max-width: none!important;
    }
  }
}
