<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

            <section>

                <div *ngIf="transcriptions[0]">
                    <h4 class="subheading-2">Transcriptions:</h4>
                    <p class="margin-left">
                        <mat-list>
                            <mat-list-item *ngFor="let trans of transcriptions">
                                <a class="salsah-link" (click)="goToResource(trans.type, trans.id, trans)">{{trans.label}}</a>
                            </mat-list-item>
                        </mat-list>
                    </p>
                </div>


            </section>

        </div>

        <div class="main-content">

            <section class="cite-link">
                <button mat-stroked-button class="share-res" (click)="openDialog(resource.readResource.versionArkUrl)">
                    <mat-icon>share</mat-icon>Citation Link
                </button>
            </section>

            <section *ngIf="props?.title[0]">
                <h4 class="subheading-2">{{props?.title[0].propertyLabel}}</h4>
                <read-text-value [valueObject]="props?.title[0]" [bindEvents]="false" [resource]="resource.readResource">
                </read-text-value>
            </section>

            <section *ngIf="props?.manuscriptEntryOf[0]">
                <h4 class="subheading-2">{{props?.manuscriptEntryOf[0].propertyLabel}}</h4>
                <dsp-link-value [displayValue]="props?.manuscriptEntryOf[0]" [parentResource]="resource.readResource"
                    [propIri]="props?.manuscriptEntryOf[0].property" (referredResourceClicked)="resLinkClicked($event)" [mode]="'read'"></dsp-link-value>
            </section>

            <!--<section *ngIf="props?.seqnum[0]">
                <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.seqnum[0].propIri)}}</h4>
                <kui-integer-value [valueObject]="props?.seqnum[0]"></kui-integer-value>
            </section>-->

        </div>

    </div>

</div>
