<menu>
    <li>
        <button mat-stroked-button class="previousBtn" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>Previous
        </button>
    </li>
    <li>
        <button mat-stroked-button class="share-res" (click)="openDialog('http://0.0.0.0:3336/ark:/72163/1/0801/t0DN=IPHSti3u6kt_1bAnAy.20160720T152340842Z')">
            <mat-icon>share</mat-icon>Citation Link
        </button>
    </li>
</menu>

<dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

<div class="container">
    <aside *ngIf="!isLoading">
        <section *ngIf="transcriptions[0]">
            <h4 class="subheading-2">Transcriptions:</h4>
            <p class="margin-left">
                <mat-list>
                    <mat-list-item *ngFor="let trans of transcriptions">
                        <a class="salsah-link" (click)="goToResource(trans.type, trans.id, trans)">{{trans.label}}</a>
                    </mat-list-item>
                </mat-list>
            </p>
        </section>

        <section class="pages" *ngIf="isPartOfReisbuechlein && props?.page.length > 0">
            <h4>Pages</h4>
            <ul>
                <li *ngFor="let page of props.page">
                    <dsp-link-value [displayValue]="page" [parentResource]="resource.readResource"
                                    [propIri]="page.property" (referredResourceClicked)="resLinkClicked($event)" [mode]="'read'"></dsp-link-value>
                </li>
            </ul>
        </section>
    </aside>

    <main *ngIf="!isLoading">

        <section *ngIf="props?.title[0]">
            <h4 class="subheading-2">{{props?.title[0].propertyLabel}}</h4>
            <read-text-value [valueObject]="props?.title[0]" [bindEvents]="false" [resource]="resource.readResource">
            </read-text-value>
        </section>

        <section *ngIf="props?.manuscriptEntryOf[0]">
            <h4 class="subheading-2">{{props?.manuscriptEntryOf[0].propertyLabel}}</h4>
            <dsp-link-value [displayValue]="props?.manuscriptEntryOf[0]" [parentResource]="resource.readResource"
                            [propIri]="props?.manuscriptEntryOf[0].property" (referredResourceClicked)="resLinkClicked($event)" [mode]="'read'"></dsp-link-value>
        </section>

        <section *ngIf="props?.seqnum[0]">
            <h4 class="subheading-2">Manuscript number</h4>
            <p>{{props.seqnum[0].int}}</p>
        </section>

        <ng-container *ngIf="isPartOfReisbuechlein">
            <section *ngIf="pages$ | async as page" class="transcription-btn">
                <mat-card class="intro-card" appearance="outlined" (click)="goToFirstPageTranscription(page.resources[0].id)">
                    <mat-card-content>Transcription</mat-card-content>
                </mat-card>
            </section>

            <ng-container *ngIf="journey$ | async as journey">
                <section *ngIf="journey.results.bindings.length > 0">
                    <h4>Journey</h4>
                    <table>
                        <caption>
                            Table 1: Information about the journey
                        </caption>
                        <thead>
                        <tr>
                            <th *ngFor="let headerItem of journey.head.vars">{{headerItem}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let dataSet of journey.results.bindings">
                            <td *ngFor="let hItem of journey.head.vars">
                                <ng-container *ngIf="dataSet[hItem].uri; else notIRI">
                                    <a class="salsah-link" (click)="goToLocation(dataSet[hItem].uri)">{{dataSet[hItem].value}}</a>
                                </ng-container>
                                <ng-template #notIRI>
                                    {{dataSet[hItem].value}}
                                </ng-template>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </ng-container>

            <ng-container *ngIf="stages$ | async as stages">
                <section *ngIf="stages.results.bindings.length > 0">
                    <h4>Stages</h4>
                    <table>
                        <caption>
                            Table 2: Stages of the journey
                        </caption>
                        <thead>
                        <tr>
                            <th *ngFor="let headerItem of stages.head.vars">{{headerItem}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let dataSet of stages.results.bindings">
                            <td *ngFor="let hItem of stages.head.vars">
                                <ng-container *ngIf="dataSet[hItem]?.uri; else notIRI">
                                    <a class="salsah-link" (click)="goToLocation(dataSet[hItem].uri)">{{dataSet[hItem].value}}</a>
                                </ng-container>
                                <ng-template #notIRI>
                                    {{dataSet[hItem] | reisbuechleinURI}}
                                </ng-template>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </ng-container>

            <ng-container *ngIf="mapCoordinates$ | async as coordinates">
                <app-map *ngIf="coordinates.results.bindings.length > 0" [mapData]="coordinates"></app-map>
            </ng-container>

        </ng-container>

    </main>
</div>
