@import 'theme';
@import 'mixins';
@import 'elements';
@import 'layout';

a.facsimile {
  width: 24px;
  height: 24px;
  display: inline-flex;
  background: url('/assets/icons/beol/facsimile.png');
  background-size: cover;
  -webkit-filter: invert(40%) grayscale(100%) brightness(60%) sepia(100%) hue-rotate(345deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(65%) sepia(100%) hue-rotate(345deg) saturate(600%) contrast(0.8);
}
a.figure {
  width: 30px;
  height: 30px;
  display: inline-flex;
  background: url('/assets/icons/beol/figure.png');
  background-size: cover;
  -webkit-filter: invert(40%) grayscale(100%) brightness(60%) sepia(100%) hue-rotate(345deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(65%) sepia(100%) hue-rotate(345deg) saturate(600%) contrast(0.8);
}
a.person {
  width: 12px;
  height: 12px;
  display: inline-flex;
  background: url('/assets/icons/beol/person_gr.png');
  background-size: cover;
  -webkit-filter: invert(40%) grayscale(100%) brightness(25%) sepia(100%) hue-rotate(-10deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(25%) sepia(100%) hue-rotate(-10deg) saturate(600%) contrast(0.8);
}
a.item {
  width: 12px;
  height: 12px;
  display: inline-flex;
  background: url('/assets/icons/beol/biblio_item_gr.png');
  background-size: cover;
  -webkit-filter: invert(40%) grayscale(100%) brightness(25%) sepia(100%) hue-rotate(-10deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(25%) sepia(100%) hue-rotate(-10deg) saturate(600%) contrast(0.8);
}

span.math {
  margin-right: 6px;
  margin-left: 6px;
}
a.salsah-link {
  margin-right: 5px;
}

table {
  width: 100%;
}

.borderright {
  display: inline-block;
  border-right: 1px solid black;
}

.borderbottom {
  display: inline-block;
  border-bottom: 1px solid black;
}

.borderleft {
  display: inline-block;
  border-left: 1px solid black;
}

.bordertop {
  display: inline-block;
  border-top: 1px solid black;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
  display: block;
}

.strike {
  text-decoration: line-through;
}

.above {
  vertical-align: super;
}

.below {
  vertical-align: sub;
}

td.left {
  text-align: left;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

h1 {
  text-align: center;
}
.fraktur {
  font-family: LeipzigFraktur;
}

// calendar / date picker
.mat-datepicker-content {
  .mat-calendar {
    height: auto !important;
  }
}

/*** Beol specific webfonts ***/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ilwpyl');
  src:  url('fonts/icomoon.eot?ilwpyl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ilwpyl') format('truetype'),
    url('fonts/icomoon.woff?ilwpyl') format('woff'),
    url('fonts/icomoon.svg?ilwpyl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fxL:before {
  content: "\e911";
  font-weight: bold;
  font-size: 14px;
}
.icon-fxK:before {
  content: "\e912";
  font-weight: bold;
  font-size: 14px;
}
.icon-fxJ:before {
  content: "\e913";
  font-weight: bold;
  font-size: 14px;
}
.icon-fxH:before {
  content: "\e914";
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}
.icon-fxI:before {
  content: "\e915";
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}
.icon-fxA:before {
  content: "\e916";
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxB:before {
  content: "\e917";
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxBk:before {
  content: "\e917";
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxC:before {
  content: "\e918";
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxCk:before {
  content: "\e918";
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxD:before {
  content: "\e919";
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxDk:before {
  content: "\e919";
  font-size: 9px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxE:before {
  content: "\e91a";
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxEk:before {
  content: "\e91a";
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxF:before {
  content: "\e91b";
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxFk:before {
  content: "\e91b";
  font-size: 9px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-fxG:after {
  content:" \221D ";
  font-size: 40px;
  display: inline-block;
  transform: rotate(90deg);
  vertical-align: middle;
  margin-left: 20px;
}
.icon-fxM:after {
  content:" \25B1 ";
  font-size: 20px;
  vertical-align: middle;
  bottom: 2px;
  position: relative;
}

.icon-p171:before {
  content: "\e91c";
}
.icon-p172:before {
  content: "\e91e";
}
.icon-p166 .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-p166 .path2:before {
  content: "\e902";
  margin-left: -0.5654296875em;
  color: rgb(0, 0, 0);
}
.icon-p166 .path3:before {
  content: "\e903";
  margin-left: -0.5654296875em;
  color: rgb(255, 255, 255);
}
.icon-p166 .path4:before {
  content: "\e904";
  margin-left: -0.5654296875em;
  color: rgb(0, 0, 0);
}
.icon-p166 .path5:before {
  content: "\e905";
  margin-left: -0.5654296875em;
  color: rgb(255, 255, 255);
}
.icon-p166 .path6:before {
  content: "\e906";
  margin-left: -0.5654296875em;
  color: rgb(0, 0, 0);
}
.icon-p166 .path7:before {
  content: "\e907";
  margin-left: -0.5654296875em;
  color: rgb(255, 255, 255);
}
.icon-p166 .path8:before {
  content: "\e908";
  margin-left: -0.5654296875em;
  color: rgb(255, 255, 255);
}
.icon-p166 .path9:before {
  content: "\e909";
  margin-left: -0.5654296875em;
  color: rgb(255, 255, 255);
}
.icon-p166 .path10:before {
  content: "\e90a";
  margin-left: -0.5654296875em;
  color: rgb(255, 255, 255);
}
.icon-p166 .path11:before {
  content: "\e90b";
  margin-left: -0.5654296875em;
  color: rgb(0, 0, 0);
}
.icon-p166 .path12:before {
  content: "\e90c";
  margin-left: -0.5654296875em;
  color: rgb(255, 255, 255);
}
.icon-p166 .path13:before {
  content: "\e90d";
  margin-left: -0.5654296875em;
  color: rgb(0, 0, 0);
}
.icon-p145_2:before {
  content: "\e90e";
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-p145_1:before {
  content: "\e90f";
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-p136:before {
  content: "\e910";
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-reference:before {
  content: "\e91d";
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-p17:before {
  content: "\e900";
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-p170_1:before {
  content: "\e1701";
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-p173:before {
  content: "\e173";
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.icon-p170_2:before {
  content: "\e1702";
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
@font-face {
  font-family: LeipzigFraktur;
  src: url(../fonts/Leipzig/LeipzigFrakturNormal.ttf);
}

@font-face {
  font-family: LeipzigFraktur;
  src: url(../fonts/Leipzig/LeipzigFrakturBold.ttf);
  font-weight: bold;
}

p.cent {
  text-align: center;
}
p.right{
  text-align: right;
}
p.i25 {
  text-indent: 25px;
}
p.i30 {
  text-indent: 30px;
}
p.i35 {
  text-indent: 35px;
}
.pagenumber {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #000078;
  display: block;
}
.pagenumber-embed {
  color: #000078;
}

.impressum {
  color: grey;
  font-size: 16px !important;
}

.ccIcon {
  vertical-align: middle;
  height: 6%;
  width: 6%;
}
