<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading">


        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>
        </div>

        <div class="main-content">

            <section class="cite-link">
                <button mat-stroked-button class="share-res" (click)="openDialog(resource.readResource.versionArkUrl)">
                    <mat-icon>share</mat-icon>Citation Link
                </button>
            </section>

            <h3 mat-card-subtitle>{{resource?.readResource.resourceClassLabel}}</h3>
            <h2>{{resource?.readResource.label}}</h2>

            <div mat-line *ngFor="let prop of resource?.readResource.properties | keyvalue">

                <div *ngIf="prop.key === dspConstants.StillImageFileValue; else noImage">
                    <!-- resource has images attached directly, display them -->

                    <dsp-still-image #OSDViewer
                        *ngIf="!isLoading && resource.stillImageRepresentationsToDisplay.length > 0" class="osd-viewer"
                        [images]="resource?.stillImageRepresentationsToDisplay">
                    </dsp-still-image>
                </div>

                <ng-template #noImage>
                    <!-- resource has no images attached directly -->
                    <span>{{prop.value[0].propertyLabel}}</span>
                    <ul>
                        <li *ngFor="let val of prop.value">
                            <span [ngSwitch]="val.type">
                                <read-text-value *ngSwitchCase="dspConstants.TextValue"
                                    [valueObject]="val" [resource]="resource.readResource" [bindEvents]="true">
                                </read-text-value>
                                <dsp-date-value *ngSwitchCase="dspConstants.DateValue" [displayValue]="$any(val)" [mode]="'read'" [displayOptions]="'all'">
                                </dsp-date-value>
                                <dsp-link-value *ngSwitchCase="dspConstants.LinkValue" [displayValue]="$any(val)"
                                    [parentResource]="resource.readResource" [propIri]="val.property" [mode]="'read'" (referredResourceClicked)="resLinkClicked($event)">
                                </dsp-link-value>
                                <dsp-int-value *ngSwitchCase="dspConstants.IntValue" [displayValue]="$any(val)" [mode]="'read'">
                                </dsp-int-value>
                                <dsp-decimal-value *ngSwitchCase="dspConstants.DecimalValue" [displayValue]="$any(val)" [mode]="'read'">
                                </dsp-decimal-value>
                                <dsp-color-value *ngSwitchCase="dspConstants.ColorValue" [displayValue]="$any(val)" [mode]="'read'">
                                </dsp-color-value>
                                <dsp-uri-value *ngSwitchCase="dspConstants.UriValue" [displayValue]="$any(val)">
                                </dsp-uri-value>
                                <dsp-boolean-value *ngSwitchCase="dspConstants.BooleanValue" [displayValue]="$any(val)" [mode]="'read'">
                                </dsp-boolean-value>
                                <dsp-interval-value *ngSwitchCase="dspConstants.IntervalValue"
                                    [displayValue]="$any(val)" [mode]="'read'"></dsp-interval-value>
                                <read-list-value *ngSwitchCase="dspConstants.ListValue" [valueObject]="$any(val)">
                                </read-list-value>
                                <!-- NO VALUE COMPONENT: <dsp-textfile-value *ngSwitchCase="KnoraConstants.TextFileValue"
                                    [displayValue]="val.value"></dsp-textfile-value> -->
                                <span *ngSwitchDefault>Not supported {{val.type}}</span>
                            </span>
                        </li>
                    </ul>
                </ng-template>
            </div>

            <!-- Check for incoming images pointing to this resource -->
            <dsp-still-image #OSDViewer class="osd-viewer"
                *ngIf="!isLoading && resource?.incomingStillImageRepresentations?.length > 0 && resource.stillImageRepresentationsToDisplay.length > 0"
                [images]="resource?.stillImageRepresentationsToDisplay">
            </dsp-still-image>

            <br>
            <br>

            <div *ngIf="resource?.readResource.incomingReferences?.length > 0" class="incoming-link-position">
                <p>
                    <strong>Incoming Links:</strong>
                </p>
                <mat-list *ngFor="let incomingLinkSourceRes of resource.readResource.incomingReferences">
                    <mat-list-item>
                        <span class="link"
                            (click)="showIncomingRes(incomingLinkSourceRes.id, incomingLinkSourceRes.type, incomingLinkSourceRes)">{{incomingLinkSourceRes.label}}</span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>

</div>
