<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading && props">

        <div class="sidebar">
            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>
        </div>

        <div class="main-content">

            <section class="cite-link">
                <button mat-stroked-button class="share-res" (click)="openDialog(resource.readResource.versionArkUrl)">
                    <mat-icon>share</mat-icon>Citation Link
                </button>
            </section>

            <section class="title center">
                <h3 mat-card-subtitle>{{resource?.readResource.resourceClassLabel}}</h3>
                <h2>{{resource?.readResource.label}}</h2>
            </section>

            <section *ngIf="props?.caption[0]">
                <read-text-value [valueObject]="props?.caption[0]" [resource]="resource.readResource" [bindEvents]="true">
                </read-text-value>
            </section>

            <div mat-line *ngIf="resource?.stillImageRepresentationsToDisplay.length > 0" class="center osdPosition">
                <dsp-still-image #OSDViewer *ngIf="!isLoading && resource.stillImageRepresentationsToDisplay.length > 0"
                    class="osd-viewer" [images]="resource?.stillImageRepresentationsToDisplay">
                </dsp-still-image>
            </div>

        </div>
    </div>

</div>
