<div class="full-size scroll-y-only">

    <div class="sidebar">

        <button mat-stroked-button class="previousBtn" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>Previous
        </button>

    </div>

    <div class="main-content">

        <section class="text">
            <h1 class="mat-headline-5">Contact for Editorial Questions:</h1>
            <ul>
                <li>Bernoulli Euler Center (<a href="https://bez.unibas.ch/en/" target="_blank">BEZ</a>), University of Basel.
                    <br/>
                    <a href="mailto:bez@unibas.ch">bez@unibas.ch</a>
                    <br/><br/>
                </li>
            </ul>
        </section>

        <mat-divider></mat-divider>

        <section class="text">
            <h2 class="mat-headline-5">Contact for Technical Questions:</h2>

            <ul>

                <li> Dr. Sepideh Alassi, Digital Humanities Lab (<a href="https://dhlab.philhist.unibas.ch/en/" target="_blank">DHLab</a>),
                    University of Basel.
                    <br/>
                    <a href="mailto:sepideh.alassi@unibas.ch">sepideh.alassi@unibas.ch</a>
                    <br/><br/>
                </li>
                <li> Data and Service Center for the Humanities (<a href="https://dasch.swiss/" target="_blank">DaSCH</a>).
                    <br/>
                    <a href="mailto:info@dasch.swiss">info@dasch.swiss</a>
                    <br/>
                </li>

            </ul>


        </section>

        <mat-divider></mat-divider>

        <section class="links">
            <h2 class="mat-headline-5">Github</h2>
            In case of a technical problem, please feel free to create an issue on our
            <a href="https://github.com/dasch-swiss/beol" target="_blank">GitHub repo</a>.
        </section>


        <!--
        <section class="text">
            <h3 class="mat-title">Contact Form</h3>
            <app-contact-form></app-contact-form>
        </section>
        -->

    </div>
</div>
