<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

        </div>


        <div class="main-content">

            <section class="cite-link">
                <button mat-stroked-button class="share-res" (click)="openDialog(resource.readResource.versionArkUrl)">
                    <mat-icon>share</mat-icon>Citation Link
                </button>
            </section>

            <span *ngIf="resource?.readResource.label"><b>{{resource?.readResource.label}}</b></span>, in:

            <div *ngIf="props?.isPublishedIn[0]">
                <dsp-link-value [displayValue]="props?.isPublishedIn[0]" [parentResource]="resource.readResource"
                    [propIri]="props?.isPublishedIn[0].property" [mode]="'read'" (referredResourceClicked)="resLinkClicked($event)"></dsp-link-value>
                <span *ngIf="props?.publishedLetterNumber[0]">, N. <read-text-value
                        [valueObject]="props?.publishedLetterNumber[0]" [resource]="resource.readResource"
                        [bindEvents]="true"></read-text-value></span>

            </div>

            <span *ngIf="props?.startPage[0]">P. <read-text-value [valueObject]="props?.startPage[0]"
                                                                  [resource]="resource.readResource" [bindEvents]="true"></read-text-value></span>
            <span *ngIf="props?.endPage[0]"> -- <read-text-value [valueObject]="props?.endPage[0]"
                                                                 [resource]="resource.readResource" [bindEvents]="true"></read-text-value>.</span>



            <div *ngIf="resource?.readResource?.incomingReferences.length > 0" class="incoming-link-position">
                <p>
                    <strong>Referenced In:</strong>
                </p>
                <mat-list *ngFor="let incomingLinkSourceRes of resource.readResource.incomingReferences">
                    <mat-list-item>
                        <span class="link"
                            (click)="showIncomingRes(incomingLinkSourceRes.id, incomingLinkSourceRes.type, incomingLinkSourceRes)">{{incomingLinkSourceRes.label}}</span>
                    </mat-list-item>
                </mat-list>
            </div>

        </div>
    </div>

</div>
