<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

        </div>


        <div class="main-content">

            <section class="cite-link">
                <button mat-stroked-button class="share-res" (click)="openDialog(resource.readResource.versionArkUrl)">
                    <mat-icon>share</mat-icon>Citation Link
                </button>
            </section>

            <section class="center">
                <h2 *ngIf="resource.readResource.label" class="mat-headline-4 margins">{{resource?.readResource.label}}</h2>
            </section>


            <section class="text comment" *ngIf="props?.comment[0]">
                <span *ngFor="let com of props?.comment">
                    <p>
                        <read-text-value class="margin-left" [valueObject]="com" [resource]="resource.readResource"
                            [bindEvents]="true"></read-text-value>
                    </p>
                </span>
            </section>

            <section class="links">

                <div *ngIf="props?.name[0]">
                    <h4 class="subheading-2">{{props?.name[0].propertyLabel}}</h4>
                    <p>
                        <read-text-value class="margin-left" [valueObject]="props?.name[0]"
                            [resource]="resource.readResource" [bindEvents]="false">
                        </read-text-value>
                    </p>
                </div>

                <div *ngIf="props?.publisherLocation[0]">
                    <h4 class="subheading-2">{{props?.publisherLocation[0].propertyLabel}}
                    </h4>
                    <p>
                        <read-text-value class="margin-left" [valueObject]="props?.publisherLocation[0]"
                            [resource]="resource.readResource" [bindEvents]="false">
                        </read-text-value>
                    </p>
                </div>
                <div *ngIf="props?.publishingPerson[0]">
                    <h4 class="subheading-2">{{props?.publishingPerson[0].propertyLabel}}
                    </h4>
                    <mat-list>
                        <mat-list-item *ngFor="let publishingPerson of props?.publishingPerson">
                            <dsp-link-value [displayValue]="publishingPerson" [parentResource]="resource.readResource"
                                [propIri]="publishingPerson.property" [mode]="'read'" (referredResourceClicked)="resLinkClicked($event)"></dsp-link-value>
                        </mat-list-item>
                    </mat-list>
                </div>
                <!-- <div *ngIf="props?.mentioned[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.mentioned[0].propIri)}}: </h4>
                    <p *ngFor="let m of props?.mentioned">
                        <read-text-value class="margin-left" [valueObject]=m [ontologyInfo]="ontologyInfo" [bindEvents]="false">
                        </read-text-value>
                    </p>
                </div>-->
            </section>

            <section class="links">
                <div *ngIf="resource?.readResource.incomingReferences?.length > 0" class="incoming-link-position">
                    <p>
                        <strong>Referenced In:</strong>
                    </p>
                    <mat-list *ngFor="let incomingLinkSourceRes of resource.readResource.incomingReferences">
                        <mat-list-item>
                            <span class="link"
                                (click)="showIncomingRes(incomingLinkSourceRes.id, incomingLinkSourceRes.type, incomingLinkSourceRes)">{{incomingLinkSourceRes.label}}</span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </section>

        </div>
    </div>

</div>
