<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

        </div>


        <div class="main-content">

            <section class="cite-link">
                <button mat-stroked-button class="share-res" (click)="openDialog(resource.readResource.versionArkUrl)">
                    <mat-icon>share</mat-icon>Citation Link
                </button>
            </section>

            <section class="center">
                <h2 *ngIf="resource?.readResource.label" class="mat-headline-4 margins">{{resource?.readResource.label}}</h2>
                <p class="mat-subtitle-1" *ngIf="props?.alternative[0]">
                    <span *ngFor="let alt of props?.alternative; let last = last">
                        <read-text-value class="margin-left" [valueObject]="alt" [resource]="resource.readResource"
                            [bindEvents]="false">
                        </read-text-value>
                        <span *ngIf="!last">, </span>
                    </span>
                </p>
                <p mat-line>
                    <span *ngIf="props?.birthDate[0]">
                        * <dsp-date-value [displayValue]="props?.birthDate[0]" [mode]="'read'" [labels]="false" [displayOptions]="'era'">
                        </dsp-date-value>
                    </span>

                    <span *ngIf="props?.birthDate[0] && props?.deathDate[0]"> &ndash; </span>

                    <span *ngIf="props?.deathDate[0]">
                        † <dsp-date-value [displayValue]="props?.deathDate[0]" [mode]="'read'" [labels]="false" [displayOptions]="'era'">
                        </dsp-date-value>
                    </span>
                </p>
            </section>

            <section class="text comment" *ngIf="props?.comment[0]">
                <span *ngFor="let com of props?.comment">
                    <p>
                        <read-text-value class="margin-left" [valueObject]="com" [resource]="resource.readResource"
                            [bindEvents]="true"></read-text-value>
                    </p>
                </span>
            </section>
            <section class="links">

                <div *ngIf="props?.IAF[0]">
                    <h4 class="subheading-2">{{props?.IAF[0].propertyLabel}}</h4>
                    <p class="mat-list-item-content" dspGnd [gnd]="props?.IAF[0].strval"></p>
                </div>
            </section>
            <div *ngIf="props?.givenName[0]">
                <h4 class="subheading-2">{{props?.givenName[0].propertyLabel}}: </h4>
                <p *ngFor="let givenName of props?.givenName">
                    <read-text-value class="margin-left" [valueObject]=givenName [resource]="resource.readResource"
                        [bindEvents]="false">
                    </read-text-value>
                </p>
            </div>
            <div *ngIf="props?.familyName[0]">
                <h4 class="subheading-2">{{props?.familyName[0].propertyLabel}}: </h4>
                <p *ngFor="let familyName of props?.familyName">
                    <read-text-value class="margin-left" [valueObject]=familyName [resource]="resource.readResource"
                        [bindEvents]="false">
                    </read-text-value>
                </p>
            </div>
            <div *ngIf="props?.birthPlace[0]">
                <h4 class="subheading-2">{{props?.birthPlace[0].propertyLabel}}: </h4>
                <p *ngFor="let bplace of props?.birthPlace">
                    <read-text-value class="margin-left" [valueObject]=bplace [resource]="resource.readResource"
                        [bindEvents]="false">
                    </read-text-value>
                </p>
            </div>
            <div *ngIf="props?.deathPlace[0]">
                <h4 class="subheading-2">{{props?.deathPlace[0].propertyLabel}}: </h4>
                <p *ngFor="let dplace of props?.deathPlace">
                    <read-text-value class="margin-left" [valueObject]=dplace [resource]="resource.readResource"
                        [bindEvents]="false">
                    </read-text-value>
                </p>
            </div>
            <div *ngIf="props?.title[0]">
                <h4 class="subheading-2">{{props?.title[0].propertyLabel}}: </h4>
                <p *ngFor="let title of props?.title">
                    <read-text-value class="margin-left" [valueObject]=title [resource]="resource.readResource"
                        [bindEvents]="false">
                    </read-text-value>
                </p>
            </div>

            <!-- <section class="links">
                <div *ngIf="props?.mentioned[0]">
                    <h4 class="subheading-2">{{ontologyInfo?.getLabelForProperty(props?.mentioned[0].propIri)}}: </h4>
                    <p *ngFor="let m of props?.mentioned">
                        <read-text-value class="margin-left" [valueObject]=m [ontologyInfo]="ontologyInfo" [bindEvents]="false">
                        </read-text-value>
                    </p>
                </div>
            </section>-->

            <div *ngIf="resource?.readResource.incomingReferences?.length > 0" class="incoming-link-position">
                <h4 class="subheading-2">Referenced in:</h4>
                <mat-list *ngFor="let incomingLinkSourceRes of resource.readResource.incomingReferences">
                    <mat-list-item>
                        <span class="link"
                            (click)="showIncomingRes(incomingLinkSourceRes.id, incomingLinkSourceRes.type, incomingLinkSourceRes)">{{incomingLinkSourceRes.label}}</span>
                    </mat-list-item>
                </mat-list>
            </div>

        </div>
    </div>

</div>
