<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading">

        <div class="sidebar">
            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>
        </div>

        <div class="main-content" [ngSwitch]="name">

            <ng-container *ngSwitchCase="'Jacob I Bernoulli'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/jacob-I-bernoulli.jpg" alt="portrait of Jacob I Bernoulli">
                    <p><a class="salsah-link" (click)="goToResource(Jacob_I_Bernoulli.gnd)">Jacob Bernoulli</a>, born on
                        December 27, 1654, and deceased on August 16, 1705, held the chair of mathematics at the University
                        of his native city, Basel. He is above all renowned for his pioneering work in the emergent field of
                        probability theory, which owes to him its name and a first important theorem, the Law of Large
                        Numbers. He also contributed to the early development of differential geometry, the calculus of
                        variations, and integral calculus. In mechanics, he was among the first to recognize the significance
                        of conservation principles, particularly with respect to angular momentum.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <h2>Diaries</h2>
                    <mat-card class="intro-card" appearance="outlined"
                              (click)="searchForManuscriptEntries('http://rdfh.ch/0801/HSmk8KWbQjy6YCqnBrwYgA')">
                        <mat-card-content>Meditationes</mat-card-content>
                    </mat-card>
                    <mat-card class="intro-card" appearance="outlined"
                              (click)="searchForManuscriptEntries('http://rdfh.ch/0801/N1XIvGvYSBO1wODFfl0QjQ')">
                        <mat-card-content>Reisbüchlein</mat-card-content>
                    </mat-card>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Johann I Bernoulli'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/johann-I-bernoulli.jpg" alt="portrait of Johann I Bernoulli">
                    <p><a class="salsah-link" (click)="goToResource(Johann_I_Bernoulli.gnd)">Johann Bernoulli</a>, born
                        on August 6, 1667, and deceased on January 1, 1748, was a mathematician and physicist from Basel.
                        His teaching laid the foundation for the first textbook of infinitesimal calculus, the Marquis de
                        l'Hôpital's Analyse des infiniment petits, and influenced several notable scientists such as Jean
                        le Rond d'Alembert and Leonhard Euler. Bernoulli's career was marked by his involvement in the
                        Leibniz–Newton controversy, by his contributions to various mathematical problems such as the
                        brachistochrone curve, and by his research on hydrodynamics carried out in competition with his son Daniel.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <p>Correspondence between
                        <strong>{{correspondences_Johann_I_Bernoulli.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <ng-container *ngFor="let section of correspondences_Johann_I_Bernoulli.sections">
                                    <mat-option *ngFor="let corr of section.correspondences" [value]="corr.correspondent2.name"
                                                (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                        {{corr.correspondent2.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Nicolaus I Bernoulli'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/placeholder.jpg" alt="placeholder portrait for Nicolaus I Bernoulli">
                    <p><a class="salsah-link" (click)="goToResource(Nicolaus_I_Bernoulli.gnd)">Nikolaus I Bernoulli</a>
                        was born on October 20, 1687, in Basel and died there on November 29, 1759. Although he held a
                        chair in public law in his native city for most of his life, his main research interest was in
                        mathematics, where he contributed to the fields of probability theory, infinite series and
                        differential equations. Much of his research can be found in his correspondence with leading
                        mathematicians of his time, including Pierre Rémond de Montmort, Gottfried Wilhelm Leibniz and
                        Leonhard Euler.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <p>Correspondence between
                        <strong>{{correspondences_Nicolaus_I_Bernoulli.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <ng-container *ngFor="let section of correspondences_Nicolaus_I_Bernoulli.sections">
                                    <mat-option *ngFor="let corr of section.correspondences" [value]="corr.correspondent2.name"
                                                (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                        {{corr.correspondent2.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Nicolaus II Bernoulli'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/nicolaus-II-bernoulli.jpg" alt="portrait of Nicolaus II Bernoulli">
                    <p><a class="salsah-link" (click)="goToResource(Nicolaus_II_Bernoulli.gnd)">Nicolaus II Bernoulli</a>,
                        born on February 6, 1695, and deceased on July 31, 1726, came from the famous dynasty of mathematicians
                        from Basel and showed his promise at an early age. As a professor at Padua he contributed to the
                        spread of Leibnizian calculus in Italy, making significant contributions to the field of
                        differential equations and working, in particular, on the problem of orthogonal trajectories.
                        In 1725, he was appointed to the newly founded Academy of Science at St. Petersburg; however,
                        his early death cut short a promising career.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <p>Correspondence between
                        <strong>{{correspondences_Nicolaus_II_Bernoulli.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <ng-container *ngFor="let section of correspondences_Nicolaus_II_Bernoulli.sections">
                                    <mat-option *ngFor="let corr of section.correspondences" [value]="corr.correspondent2.name"
                                                (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                        {{corr.correspondent2.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Daniel I Bernoulli'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/daniel-bernoulli.jpg" alt="portrait of Daniel Bernoulli">
                    <p><a class="salsah-link" (click)="goToResource(Daniel_I_Bernoulli.gnd)">Daniel Bernoulli</a>, born
                        on February 8, 1700, in Groningen and deceased on March 17, 1782, in Basel, came from a famous
                        family of mathematicians. Holding chairs at St. Petersburg and Basel, he was a prominent
                        physicist of his generation, winning the annual prize of the Paris Académie des Sciences no
                        fewer than ten times. His research in mechanics includes the first explanation of a macroscopic
                        law by molecular motion, the significant "Bernoulli's principle" in fluid dynamics, and a
                        profound insight into the nature of oscillations. He is also known for pioneering work in
                        physiology, epidemiology, and statistics.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <p>Correspondence between
                        <strong>{{correspondences_Daniel_I_Bernoulli.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <ng-container *ngFor="let section of correspondences_Daniel_I_Bernoulli.sections">
                                    <mat-option *ngFor="let corr of section.correspondences" [value]="corr.correspondent2.name"
                                                (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                        {{corr.correspondent2.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Johann II Bernoulli'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/johann-II-bernoulli.jpg" alt="portrait of Johann II Bernoulli">
                    <p><a class="salsah-link" (click)="goToResource(Johann_II_Bernoulli.gnd)">Johann II Bernoulli</a>,
                        born on May 18, 1710, and deceased on July 17, 1790, was the third son of Johann I Bernoulli.
                        He studied law and mathematics and served as a professor of eloquence at the University of Basel.
                        In 1748, he succeeded his father on the chair of mathematics. His interests included the study
                        of the propagation of light, where he was among the first to propose a wave theory, and magnetism.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <p>Correspondence between
                        <strong>{{correspondences_Johann_II_Bernoulli.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <ng-container *ngFor="let section of correspondences_Johann_II_Bernoulli.sections">
                                    <mat-option *ngFor="let corr of section.correspondences" [value]="corr.correspondent2.name"
                                                (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                        {{corr.correspondent2.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Johann III Bernoulli'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/johann-III-bernoulli.jpg" alt="portrait of Johann III Bernoulli">
                    <p><a class="salsah-link" (click)="goToResource(Johann_III_Bernoulli.gnd)">Johann III Bernoulli</a>,
                        born on November 4, 1744, and deceased on July 13, 1807, was a grandson of Johann I and the son
                        of Johann II Bernoulli. As an astronomer, he directed the Berlin observatory and the class of
                        mathematics at the Academy. He traveled extensively throughout Europe, was a prolific writer and
                        a pioneer of scientific journalism.</p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Jacob II Bernoulli'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/jacob-II-bernoulli.jpg" alt="portrait of Jacob II Bernoulli">
                    <p><a class="salsah-link" (click)="goToResource(Jacob_II_Bernoulli.gnd)">Jakob II Bernoulli</a>,
                        born on October 17, 1759, and deceased on July 3, 1789, was a scion of the renowned dynasty of
                        scientists from Basel. After his studies in law, mathematics, and physics, he traveled in Italy,
                        serving as a secretary to an Austrian diplomat. In 1786, he joined the Russian Academy of
                        Sciences in St. Petersburg and published several papers on elasticity and the vibrations of plates.
                        Tragically, shortly after his marriage to a granddaughter of Leonhard Euler, he died in a
                        bathing accident in the Neva River.</p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Jacob Hermann'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/jacob-hermann.jpg" alt="portrait of Jacob Hermann">
                    <p><a class="salsah-link" (click)="goToResource(Jacob_Hermann.gnd)">Jacob Hermann</a>, born in Basel
                        on July 16, 1678, and deceased there on July 11, 1733, was a mathematician known for his work in
                        classical mechanics.
                        After defending a thesis on infinite series with Jacob Bernoulli, he studied theology, but then,
                        on the basis of his connections with leading scientists of his time, including Johann I Bernoulli
                        and Leibniz, went on to take chairs of mathematics at Padua, Frankfurt an der Oder, and St.
                        Petersburg. His publications deal, among other things with isoperimetric figures, the cause of
                        gravitation and frictional motion; his opus magnum, the Phoronomia (1716), is the earliest
                        systematic treatment of Newtonian mechanics.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <p>Correspondence between
                        <strong>{{correspondences_Jacob_Hermann.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <ng-container *ngFor="let section of correspondences_Jacob_Hermann.sections">
                                    <mat-option *ngFor="let corr of section.correspondences" [value]="corr.correspondent2.name"
                                                (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                        {{corr.correspondent2.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Leonhard Euler'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/leonhard-euler.jpg" alt="portrait of Leonhard Euler">
                    <p><a class="salsah-link" (click)="goToResource(Leonhard_Euler.gnd)">Leonhard Euler</a>, born on
                        April 15, 1707, in Basel and deceased on September 18, 1783, in St. Petersburg, was the leading
                        scientist of his time and one of the greatest mathematicians in history. From an early age, he
                        made significant contributions to almost all areas of mathematics and physics: the areas he
                        deeply influenced include, to cite just a few, analysis—a field that he virtually founded—number
                        theory, geometry, the emerging area of topology, dynamics, and optics. Euler's vast impact on
                        science also extends to the introduction, in his textbooks, of many elements of modern mathematical terminology and notation.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <h2>Correspondence</h2>
                    <p>Correspondence between
                        <strong>{{correspondences_Leonhard_Euler.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <mat-option *ngFor="let corr of correspondences_Leonhard_Euler.correspondences" [value]="corr.correspondent2.name"
                                            (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                    {{corr.correspondent2.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <h2>Additional</h2>
                    <h3>Third Person Correspondence</h3>
                    <p>Correspondence between
                        <strong>{{correspondences_Condorcet.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <ng-container *ngFor="let section of correspondences_Condorcet.sections">
                                    <mat-option *ngFor="let corr of section.correspondences" [value]="corr.correspondent2.name"
                                                (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                        {{corr.correspondent2.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <h3>Editorial Texts</h3>
                    <p>
                        <mat-card class="intro-card" appearance="outlined" routerLink="/leoo4A_4_intro">
                            <mat-card-content>
                                <mat-card-title>Introduction Opera Omnia IVA/4</mat-card-title>

                            </mat-card-content>
                        </mat-card>
                        <mat-card class="intro-card" appearance="outlined" routerLink="/lece_intro">
                            <mat-card-content>
                                <mat-card-title>Introduction Opera Omnia IVA/9</mat-card-title>

                            </mat-card-content>
                        </mat-card>
                    </p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Johann Albrecht Euler'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/johann-albrecht-euler.jpg" alt="portrait of Johann Albrecht Euler">
                    <p><a class="salsah-link" (click)="goToResource(Johann_Albrecht_Euler.gnd)">Johann Albrecht Euler</a>,
                        born in St. Petersburg on November 27, 1734, and deceased there on September 17, 1800, was the
                        first child of Leonhard Euler.
                        He became a member of the Berlin Academy in 1754 and won prizes from several scientific institutions.
                        Later he chaired the physics department at the St. Petersburg Academy, editing its journals and
                        publishing papers mainly in astronomy; from 1769 to his death, he also served as the Academy's secretary.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <h2>Correspondence</h2>
                    <p>Correspondence between
                        <strong>{{correspondences_Johann_Albrecht_Euler.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <mat-option *ngFor="let corr of correspondences_Johann_Albrecht_Euler.correspondences" [value]="corr.correspondent2.name"
                                            (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                    {{corr.correspondent2.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="'Nicolaus Fuss'">
                <h1 *ngIf="name">{{name}}</h1>
                <section class="biography">
                    <h2>Biography</h2>
                    <img src="assets/images/nicolaus-fuss.jpg" alt="portrait of Nicolaus Fuss">
                    <p><a class="salsah-link" (click)="goToResource(FussNI.gnd)">Nicolaus (Nikolai) Fuss</a>, born on
                        January 29, 1755, in Basel and deceased on December 23, 1825, in St. Petersburg was a
                        mathematician and scientist mainly active in Russia.
                        After his studies with Daniel Bernoulli, he went to St. Petersburg in 1773 to serve as an
                        assistant to Leonhard Euler, who was by then severely sight-impaired. His publications from that
                        time deal with problems proposed by Euler in optics, spherical trigonometry and differential
                        geometry; later he also did research in actuarial science and the theory of comets. From 1800
                        until his death, Fuss held the position of permanent secretary to the  Imperial Russian Academy
                        of Sciences.</p>
                </section>

                <mat-divider></mat-divider>

                <section>
                    <h2>Correspondence</h2>
                    <p>Correspondence between
                        <strong>{{correspondences_Niklaus_I_Fuss.mainCorrespondent.name}}</strong> and
                        <!-- select list to choose the recipient name (among one or several choices) -->
                        <mat-form-field>
                            <mat-select placeholder="Select Correspondent">
                                <mat-option *ngFor="let corr of correspondences_Niklaus_I_Fuss.correspondences" [value]="corr.correspondent2.name"
                                            (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                    {{corr.correspondent2.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </section>
            </ng-container>

            <!-- in case the name does not exist -->
            <ng-container *ngSwitchDefault>
                <h1>Oops!</h1>
                <p>
                    <strong>The biography you are looking for does not exist!</strong>
                </p>
            </ng-container>

        </div>
    </div>

</div>
