<div class="full-size scroll-y-only">
    <div class="main-content without-sidebar">

        <section>
            <h1 mat-card-title>BEOL</h1>
            <h2>Bernoulli Euler Online</h2>
            <p>
                The
                <a target="_blank" href="https://bez.unibas.ch/de/projekte/bernoulli-euler-online/">Bernoulli-Euler Online (BEOL)</a> project is a
                research platform for the study of early modern mathematics and science. It aims at integrating
                works and correspondence of members of Bernoulli dynasty and Leonhard Euler.
            </p>
            <p>
                Currently, the BEOL platform contains three
                main editions: <em>Basler Edition der Bernoulli-Briefwechsel (ongoing)</em>, <em>Leonhard Euler's correspondence with
                Christian Goldbach (Leonhardi Euleri Opera Omnia IVA/IV)</em>, and a multi-layered interactive edition of Jacob Bernoulli's scientific notebook <em>Meditationes</em>.
                The platform also contains the edition of Leonhard Euler's correspondence with the
                Marquis de Condorcet and Turgot.
            </p>
            <p>
                BEOL is connected to the repositories of <a href="http://www.newtonproject.ox.ac.uk/">The Newton Project</a>
                and the <a href="http://leibniz-briefportal.adw-goe.de/start">Briefportal Leibniz</a> initiating the formation
                of a network of digital editions of the correspondence among the early modern natural philosophers.
            </p>
        </section>

        <mat-divider></mat-divider>

        <section class="biographies">
            <h3>Mathematicians from Basel</h3>
            <ul>
                <li (click)="openBiography('Jacob I Bernoulli')">
                    <h4>Jacob I Bernoulli</h4>
                    <img src="assets/images/jacob-I-bernoulli.jpg" alt="portrait of Jacob I Bernoulli">
                </li>
                <li (click)="openBiography('Johann I Bernoulli')">
                    <h4>Johann I Bernoulli</h4>
                    <img src="assets/images/johann-I-bernoulli.jpg" alt="portrait of Johann I Bernoulli">
                </li>
                <li (click)="openBiography('Nicolaus I Bernoulli')">
                    <h4>Nicolaus I Bernoulli</h4>
                    <img src="assets/images/placeholder.jpg" alt="placeholder portrait for Nicolaus I Bernoulli">
                </li>
                <li (click)="openBiography('Nicolaus II Bernoulli')">
                    <h4>Nicolaus II Bernoulli</h4>
                    <img src="assets/images/nicolaus-II-bernoulli.jpg" alt="portrait of Nicolaus II Bernoulli">
                </li>
                <li (click)="openBiography('Daniel I Bernoulli')">
                    <h4>Daniel I Bernoulli</h4>
                    <img src="assets/images/daniel-bernoulli.jpg" alt="portrait of Daniel Bernoulli">
                </li>
                <li (click)="openBiography('Johann II Bernoulli')">
                    <h4>Johann II Bernoulli</h4>
                    <img src="assets/images/johann-II-bernoulli.jpg" alt="portrait of Johann II Bernoulli">
                </li>
                <li (click)="openBiography('Johann III Bernoulli')">
                    <h4>Johann III Bernoulli</h4>
                    <img src="assets/images/johann-III-bernoulli.jpg" alt="portrait of Johann III Bernoulli">
                </li>
                <li (click)="openBiography('Jacob II Bernoulli')">
                    <h4>Jacob II Bernoulli</h4>
                    <img src="assets/images/jacob-II-bernoulli.jpg" alt="portrait of Jacob II Bernoulli">
                </li>
                <li (click)="openBiography('Jacob Hermann')">
                    <h4>Jacob Hermann</h4>
                    <img src="assets/images/jacob-hermann.jpg" alt="portrait of Jacob Hermann">
                </li>
                <li (click)="openBiography('Leonhard Euler')">
                    <h4>Leonhard Euler</h4>
                    <img src="assets/images/leonhard-euler.jpg" alt="portrait of Leonhard Euler">
                </li>
                <li (click)="openBiography('Johann Albrecht Euler')">
                    <h4>Johann Albrecht Euler</h4>
                    <img src="assets/images/johann-albrecht-euler.jpg" alt="portrait of Johann Albrecht Euler">
                </li>
                <li (click)="openBiography('Nicolaus Fuss')">
                    <h4>Nicolaus Fuss</h4>
                    <img src="assets/images/nicolaus-fuss.jpg" alt="portrait of Nicolaus Fuss">
                </li>
            </ul>
        </section>

        <mat-divider></mat-divider>

        <section class="third-party-projects">
            <h3>Third Party Projects</h3>
            <ul>
                <li (click)="searchForNewtonCorrespondence()">
                    <h4>{{newton.description}}</h4>
                    <img src="assets/images/newton.jpg" alt="Portrait of Isaac Newton">
                </li>
                <li (click)="searchForLeibnizCorrespondence()">
                    <h4>{{leibniz.description}}</h4>
                    <img src="assets/images/leibniz.jpeg" alt="Portrait of Gottfried Wilhelm Leibniz">
                </li>
            </ul>
        </section>

        <mat-divider></mat-divider>

        <section>
            <h3>Visualizations</h3>
            <p>The BEOL and third party correspondence data are visualized as interactive 3D force-directed graphs which
                are also available in WebVR format. You can explore the correspondence network interactively at
                <a target="_blank" href="https://vis.beol.dasch.swiss/">vis.beol.dasch.swiss</a>.
            </p>
        </section>

        <mat-divider></mat-divider>

        <section>
            <h3 mat-card-subtitle>Technical background</h3>
            <p>
                BEOL is implemented within the
                <a target="_blank" href="https://docs.dasch.swiss/">DaSCH Service Platform</a> &mdash; a generic virtual research environment (VRE) for the humanities, built with
                <a target="_blank" href="https://www.npmjs.com/org/dasch-swiss">DSP-JS and DSP-UI libraries</a>.
            </p>
            <br/>
            <h3 mat-card-subtitle>About us</h3>
            <p>
                BEOL is a <a href="https://p3.snf.ch/project-166072" target="_blank">project</a> funded by the Swiss National Science Foundation. It is a collaboration between the
                <a target="_blank" href="https://bez.unibas.ch">Bernoulli Euler Centre</a> and the
                <a target="_blank" href="https://dhlab.unibas.ch">Digital Humanities Lab</a> (both University of Basel).
            </p>
            <br/>
            <h3 mat-card-subtitle>Feedback</h3>
            <p>
                In case you experience any problems using the BEOL platform or have suggestions on how to improve it,
                <br>please <a href="/contact">contact</a> us.
            </p>
            <br/>
            <h3 mat-card-subtitle>Impressum</h3>
            <p class="impressum">
                <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" class="ccIcon" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                The contents on our website are licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
        </section>

    </div>
</div>
