<div class="full-size scroll-y-only">
    <div class="sidebar">
        <a href="/about">About</a>
    </div>
    <div class="main-content">

        <section>
            <h1>Bernoulli Euler Digital</h1>
            <p>
                The Bernoulli-Euler Digital represents a notable expansion of the
                <a target="_blank" href="https://app.dasch.swiss/project/yTerZGyxjZVqFMNNKXCDPF">Bernoulli-Euler Online (BEOL)</a> project.
                This platform serves as a dedicated research hub, focusing on exploring early modern mathematics and science. Its primary objective is to
                seamlessly integrate the extensive works and correspondences of the prominent members of the
                Bernoulli dynasty and the influential mathematician Leonhard Euler.
            </p>
        </section>

        <section class="biographies">
            <ul>
                <li (click)="openBiography('Jacob I Bernoulli')">
                    <h4>Jacob I <br>Bernoulli</h4>
                    <img src="assets/images/jacob-I-bernoulli.jpg" alt="portrait of Jacob I Bernoulli">
                </li>
                <li (click)="openBiography('Johann I Bernoulli')">
                    <h4>Johann I <br>Bernoulli</h4>
                    <img src="assets/images/johann-I-bernoulli.jpg" alt="portrait of Johann I Bernoulli">
                </li>
                <li (click)="openBiography('Jacob Hermann')">
                    <h4>Jacob <br>Hermann</h4>
                    <img src="assets/images/jacob-hermann.jpg" alt="portrait of Jacob Hermann">
                </li>
                <li (click)="openBiography('Nicolaus I Bernoulli')">
                    <h4>Nicolaus I <br>Bernoulli</h4>
                    <img src="assets/images/placeholder.jpg" alt="placeholder portrait for Nicolaus I Bernoulli">
                </li>
                <li (click)="openBiography('Nicolaus II Bernoulli')">
                    <h4>Nicolaus II <br>Bernoulli</h4>
                    <img src="assets/images/nicolaus-II-bernoulli.jpg" alt="portrait of Nicolaus II Bernoulli">
                </li>
                <li (click)="openBiography('Daniel I Bernoulli')">
                    <h4>Daniel I <br>Bernoulli</h4>
                    <img src="assets/images/daniel-bernoulli.jpg" alt="portrait of Daniel Bernoulli">
                </li>
                <li (click)="openBiography('Leonhard Euler')">
                    <h4>Leonhard <br>Euler</h4>
                    <img src="assets/images/leonhard-euler.jpg" alt="portrait of Leonhard Euler">
                </li>
                <li (click)="openBiography('Johann II Bernoulli')">
                    <h4>Johann II <br>Bernoulli</h4>
                    <img src="assets/images/johann-II-bernoulli.jpg" alt="portrait of Johann II Bernoulli">
                </li>
                <li (click)="openBiography('Johann Albrecht Euler')">
                    <h4>Johann Albrecht <br>Euler</h4>
                    <img src="assets/images/johann-albrecht-euler.jpg" alt="portrait of Johann Albrecht Euler">
                </li>
                <li (click)="openBiography('Johann III Bernoulli')">
                    <h4>Johann III <br>Bernoulli</h4>
                    <img src="assets/images/johann-III-bernoulli.jpg" alt="portrait of Johann III Bernoulli">
                </li>
                <li (click)="openBiography('Nicolaus Fuss')">
                    <h4>Nicolaus <br>Fuss</h4>
                    <img src="assets/images/nicolaus-fuss.jpg" alt="portrait of Nicolaus Fuss">
                </li>
                <li (click)="openBiography('Jacob II Bernoulli')">
                    <h4>Jacob II <br>Bernoulli</h4>
                    <img src="assets/images/jacob-II-bernoulli.jpg" alt="portrait of Jacob II Bernoulli">
                </li>
            </ul>
        </section>

        <mat-divider></mat-divider>

        <section class="third-party-projects">
            <h3>Third Party Projects</h3>
            <p>
                Bernoulli-Euler Digital is connected to the repositories of <a href="http://www.newtonproject.ox.ac.uk/">The Newton Project</a>
                and the <a href="http://leibniz-briefportal.adw-goe.de/start">Briefportal Leibniz</a> initiating the formation
                of a network of digital editions of the correspondence among the early modern natural philosophers.
            </p>
            <ul>
                <li (click)="searchForNewtonCorrespondence()">
                    <h4>{{newton.description}}</h4>
                    <img src="assets/images/newton.jpg" alt="Portrait of Isaac Newton">
                </li>
                <li (click)="searchForLeibnizCorrespondence()">
                    <h4>{{leibniz.description}}</h4>
                    <img src="assets/images/leibniz.jpeg" alt="Portrait of Gottfried Wilhelm Leibniz">
                </li>
            </ul>
        </section>

        <mat-divider></mat-divider>

        <section class="visualizations">
            <h3>Visualizations</h3>
            <p>The correspondence data included in this platform are visualized as interactive 3D force-directed graphs which
                are also available in WebVR format. You can explore the correspondence network interactively
                <a target="_blank" href="https://vis.beol.dasch.swiss/">here</a>.
            </p>
        </section>

        <mat-divider></mat-divider>
        <h3 mat-card-subtitle>Impressum</h3>
        <p class="impressum">
            <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" class="ccIcon" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
            The contents on our website are licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </p>
    </div>
</div>
