<div class="full-size scroll-y-only">

    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

            <div *ngIf="props?.pagenum[0]">
                <h4 class="subheading-2">{{props?.pagenum[0].propertyLabel}}: </h4>
                <p>
                    <read-text-value [valueObject]="props?.pagenum[0]" [bindEvents]="false"
                        [resource]="resource.readResource"></read-text-value>
                </p>
            </div>

            <div *ngIf="props?.seqnum[0]">
                <h4 class="subheading-2">{{props?.seqnum[0].propertyLabel}}: </h4>
                <p>
                    <dsp-int-value [displayValue]="props?.seqnum[0]" [mode]="'read'"></dsp-int-value>
                </p>
            </div>
        </div>
    </div>

    <div class="main-content">

        <section class="cite-link">
            <button mat-stroked-button class="share-res" (click)="openDialog(versionArkUrl)">
                <mat-icon>share</mat-icon>Citation Link
            </button>
        </section>

        <div style="text-align: center;">
            <a *ngIf="previousPage" class="salsah-link"
                (click)="goToResource(previousPage?.type, previousPage?.id, previousPage)">{{previousPage.label}} </a>
            <a *ngIf="nextPage" class="salsah-link" (click)="goToResource(nextPage?.type, nextPage?.id, nextPage)">
                {{nextPage.label}}</a>
        </div>

        <div *ngIf="!isLoading && resource?.stillImageRepresentationsToDisplay.length > 0">
            <dsp-still-image #OSDViewer class="osd-viewer" [images]="resource?.stillImageRepresentationsToDisplay"
                [activateRegion]="activeRegion" (regionClicked)="regionActive($event)">
            </dsp-still-image>
        </div>

        <div style="height: 200px;">
        </div>

        <div *ngIf="!isLoading && transcription !== undefined">
            <h3>{{transcriptionBelongsToRegion.linkedResource.label}}</h3>
            <read-text-value-as-html [valueObject]="transcription" [resource]="transcriptionResource" [bindEvents]="true">
            </read-text-value-as-html>
            <br>
            <br>
            <div *ngIf="manuscriptEntry !== undefined && manuscriptEntry?.linkedResource !== undefined">
                Transcription of <a class="salsah-link"
                    (click)="goToResource(manuscriptEntry.linkedResource.type, manuscriptEntry.linkedResource.id, manuscriptEntry.linkedResource)">{{manuscriptEntry.linkedResource.label}}</a>
            </div>
        </div>

        <br />
        <div *ngIf="!isLoading && transcriptionsForManuscriptEntry.length > 0">
            <div>Transcriptions for this manuscript entry:</div>
            <mat-list>
                <mat-list-item *ngFor="let entry of transcriptionsForManuscriptEntry">
                    <a class="salsah-link" (click)="goToResource(entry.type, entry.id, entry)">{{entry.label}}</a>
                </mat-list-item>
            </mat-list>
        </div>

    </div>

</div>
