<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading && props">

        <div class="sidebar">

            <div *ngIf="props?.commentOf[0]">
                <h4 class="subheading-2">{{props?.commentOf[0].propertyLabel}}</h4>
                <p class="margin-left">
                    <dsp-link-value [displayValue]="props?.commentOf[0]" [parentResource]="resource.readResource"
                        [propIri]="props?.commentOf[0].property" (referredResourceClicked)="resLinkClicked($event)" [mode]="'read'"></dsp-link-value>
                </p>
            </div>

        </div>

        <div class="main-content">

            <section class="cite-link">
                <button mat-stroked-button class="share-res" (click)="openDialog(resource.readResource.versionArkUrl)">
                    <mat-icon>share</mat-icon>Citation Link
                </button>
            </section>

            <h4>{{resource?.readResource.label}}</h4>

            <section *ngFor="let text of props?.text" class="text">
                <div>
                    <read-text-value [valueObject]="text" [bindEvents]="true" [resource]="resource.readResource">
                    </read-text-value>
                </div>
            </section>

        </div>

    </div>

</div>
