menu {
  list-style: none;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .previousBtn {
    margin-inline-start: 0!important;
  }
}

.divider-letter-metadata {
    margin: 40px 0;
}

h4.subheading-2 {
  margin-bottom: 0 !important;
}

.mat-mdc-list-item {
  min-height: 36px !important;
  height: auto !important;
  margin: 6px 0;
}

.divider-image-viewer {
  margin-top: 110px;
}

.tei-link {
  text-align: left;
}
.editorSection {
  margin-bottom: 24px;
}

.editorList {
  margin-top: 10px !important;
}

.editorItemList {
  min-height: 24px !important;
  margin: 0 !important;
  font-size: 20px;
}

.main-content {
  max-width: none !important;
}
