<div class="full-size scroll-y-only">

    <dsp-progress-indicator *ngIf="isLoading" [color]="'#D88958'"></dsp-progress-indicator>

    <div *ngIf="!isLoading && props">
        <div class="sidebar">

            <button mat-stroked-button class="previousBtn" (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
                Previous
            </button>

            <section *ngIf="props?.figure[0]">
                <h4 class="subheading-2">{{props?.figure[0].propertyLabel}}</h4>
                <dsp-link-value *ngFor="let fig of props?.figure" [displayValue]="fig" [parentResource]="resource.readResource"
                    [propIri]="props?.figure[0].property" [mode]="'read'" (referredResourceClicked)="resLinkClicked($event)"></dsp-link-value>
            </section>

        </div>

        <div class="main-content">

            <section class="cite-link">
                <button mat-stroked-button class="share-res" (click)="openDialog(resource.readResource.versionArkUrl)">
                    <mat-icon>share</mat-icon>Citation Link
                </button>
            </section>

            <section class="title center">
                <h3 mat-card-subtitle>{{resource?.readResource.resourceClassLabel}}</h3>
                <h2>
                    <!-- TODO: text value is displayed using a <p> -->
                    <span *ngIf="props?.number[0]"><div>[<read-text-value [valueObject]="props?.number[0]"
                            [resource]="resource.readResource" [bindEvents]="false">
                    </read-text-value>]</div></span> {{resource?.readResource.label}}
                </h2>
            </section>


            <section *ngIf="props?.text[0]">
                <read-text-value [valueObject]="props?.text[0]" [resource]="resource.readResource" [bindEvents]="true">
                </read-text-value>
            </section>

        </div>
    </div>

</div>
